*{
    margin:0px;
    padding: 0px;
}

.outcome{
    position: absolute;
    top: 5%;  
}

.computerAns{

    display: flex;
    justify-content: center;
}

.buttons{
    position: absolute;
    top: 60%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.btnDecoration{
    border: 2px solid black;
    border-radius: 15px;
}

.btnDecoration:hover{
    scale: 1.025;
    box-shadow: 5px 5px 5px 0px;
}

.comBtnDecoration{
    border: 2px solid black;
    border-radius: 15px;
}

